{% extends "base.html" %}
{% block header %}
    <header id="header">
        <h2>Games List</h2>
    </header>
{% endblock %}
{% block body %}
    <form id="login-form" action="{{ url_for('user') }}" method="POST">
        <h1>Log In</h1>
        <p>
            {{ form.csrf_token }}
            {{ form.username.label }} <br> {{ form.username(size=30, autocomplete="off") }}
        </p>
        <p>
            {{ form.password.label }} <br> 
            {{ form.password(size=30, autocomplete="off") }} <br>
        </p>
        <p>
            {{ form.submit }}
        </p>
    </form>
    <a href="{{ url_for('register') }}">Don't have an account? Sign up here</a>
{% endblock %}